.calc-body{
    height: 700px;
    width: 500px;
    border: solid rgb(50, 49, 49);
    margin: auto;
    border-radius: 20px;
    background-color: rgb(26, 25, 25);
}

#screen{
    width: 440px;
    height: 100px;
    margin: 10px;
    margin-left: 25px;
    background-color: rgb(200, 191, 191);
    margin-top: 15px;
    border: solid rgb(7, 7, 7);
    border-radius: 10px;
    font-size: xx-large;
    text-align: right;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    margin-left: 15px;

}

button{
    height: 60px;
    width: 80px;
    margin: 15px;
    text-align: center;
    font-size: x-large;
    background-color: rgb(101, 98, 98);
    color: white;
    border: solid rgb(0, 0, 0);
    border-radius: 10px;
}
button:hover{
    border: solid rgb(255, 255, 255);
}

.company{
    text-align: left;
    margin-left: 30px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5px;
}
.ac{
    background-color: rgb(210, 69, 69);
    font-size: 1.2rem;
    font-weight: 500;
}
.on{
    background-color: rgb(8, 157, 52);
    
}
